.header-container {
    display: flex;
    align-items: center;
    padding: 0 16px;
    background: #ffffff;
    /* 或其他背景色 */
    border-bottom: 1px solid #f0f0f0;
    /* 可选的底部边框 */
    height: 64px;
}

/* 内部布局 */
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* 左右分布 */
    width: 100%;
}

/* 左侧内容样式 */
.header-left {
    flex: 1;
    font-size: 25px;
    color: red;
}

.header-avatar {
    margin-left: auto;
    /* 推动 Avatar 到右边 */
    cursor: pointer;
}